html {
    height: 100%
}
body {
    background-color: #8bd0f0;
    padding-bottom: 1.2rem;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.header{
    color:white;
}
/* Custom page footer */
#footer {
    position: relative;
    top: 1rem;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;           
}

h2, h3{
    padding-top: 2rem;
    font-family: 'Margarine';
    color:white;
    text-align:center;
    margin-bottom: 2rem;
}

h4{
    color:white;
    font-size: 28px;
}
p, dt{
    font-family: 'Margarine';
    letter-spacing: 0.1rem;
    margin-top: 0rem;
    color:white;
    font-size: 20px;
    margin-bottom: 0.8rem;
}

#appt{
    position: absolute;
    top: 110px;
    right: 350px;
}
#settings{
    position: absolute;
    top: 110px;
    right: 130px;
}
#availability{
    position: absolute;
    top: 110px;
    right:230px;
}
#log-out{
    position: absolute;
    top: 110px;
    right: 30px;
}

#user-name{
    position: absolute;
    top:60px;
    right: 50px;
}


.logo{
    width: 160px;
    height: 160px;
}

.center-logo{
    width: 160px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#choose{
    display: flex;
    justify-content: center;
}

